.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
	height: 100vh;
	.title {
		font-weight: 900;
		font-size: 25px;
	}

	span {
		font-size: 20px;
	}
}
